<!DOCTYPE html>
<html class="center " >

<head>
	<!-- Renders the YAML front matter into the title of the page -->
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" href="/css/tachyons.min.css">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
	</style>
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#f6fffe">
	<meta name="theme-color" content="#ffffff">
</head>

<body style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
	<main class="measure-wide center ph3 pb3">
	<!-- Navigation -->
	<nav class="fixed mb7 w-100 ph2 box-shadow pv2 center z-999 bg-white" >
		<div class="">
		<a class="link black hover-blue ba pa2 b f6 f5-ns dib mr3 offset" href="/" title="Home">rishi.</a>
		<a class="link gray hover-light-green pa2 f6 f5-ns dib mr3" href="/projects" title="Home">projects.</a>
		<a class="link gray hover-green    f6 f5-ns dib mr3" href="/blog" title="About">blog.</a>
		<a class="link gray hover-light-purple f6 f5-ns dib mr3" href="/about" title="Store">about.</a>
		<a class="link gray hover-light-blue f6 f5-ns dib" href="/contact" title="Contact">contact.</a>
	</div>
	</nav>
	<!-- Content -->
	<div class="pt5">
		{{ content }}
	</div>

	<!-- Footer -->
	<footer class="pv4 ph3 ph5-m ph6-l mid-gray">
		<small class="f6 db tc">Made with ♥️ by Rishi Kothari.</small>
	</footer>
	</main>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script>
	jQuery(document).ready(function(){
   $('.colorshiftransform').mousemove(function(e){
     var rXP = (e.pageX - this.offsetLeft-$(this).width());
     var rYP = (e.pageY - this.offsetTop-$(this).height());
     $('.colorshiftransform').css('text-shadow', +rYP/10+'px '+rXP/80+'px #5F9FB9, '+rYP/8+'px '+rXP/10+'px #FDDB3D, '+rXP/20+'px '+rYP/12+'px #FF6A92');
   });
});
</script>
  <script>
    AOS.init();
  </script>
</body>

</html>